pycharm_folder/.idea/.gitignore
pycharm_folder/.idea/csv-plugin.xml
pycharm_folder/.idea/misc.xml
pycharm_folder/.idea/modules.xml
pycharm_folder/.idea/pycharm_folder.iml
pycharm_folder/.idea/vcs.xml
pycharm_folder/.idea/inspectionProfiles/profiles_settings.xml
